<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="Qt3SupportModul" Language="0" Version="4.2.2">
	<Package Id="db4b6ea5-8947-4b09-8277-75d2e1545edd" Manufacturer="Frank Büttner" InstallerVersion="301"/>
	<Dependency RequiredId="QtCoreModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
	<Dependency RequiredId="QtNetworkModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
	<Dependency RequiredId="QtGuiModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
	<Dependency RequiredId="QtXMLModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
	<Dependency RequiredId="QtSQLModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
	<Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="QtDir" Name=".">
			<Component Id="Qt3Support" Guid="a736d90d-c82b-4e6a-bb89-425548afc64b">
				<File Id="qt3supportdll" Name="Qt3Support4.dll" Assembly="win32" AssemblyManifest="qt3supportmanifest" Checksum="yes" Vital="yes" Source="F:\Temp\Qt4\Mergemodule\Qt3Support4.dll" KeyPath="yes" />
				<File Id="qt3supportmanifest" Name="Qt3Support4.dll.manifest" Checksum="yes" Vital="yes" Source="F:\Temp\Qt4\Mergemodule\Qt3Support4.dll.manifest" />
			</Component>
           	 </Directory>
        </Directory>
    </Module>
</Wix>