<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="QtCoreModul" Language="0" Version="4.2.1">
        <Package Id="5DF9FA90-C685-4210-AD37-1183245234BB" Manufacturer="Frank Büttner" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="QtDir" Name=".">
                <Component Id="QtCore" Guid="2A2A4C82-BD2A-4B35-A13B-BA5DE2294A51">
                    <File Id="qtcoredll" Name="QtCore4.dll" Assembly="win32" Checksum="yes" Vital="yes" Source="..\..\..\..\Qt\4.2.1MS\lib\QtCore4.dll" KeyPath="yes" AssemblyManifest="qtcoredllmanifest" />                    
                   <File Id="qtcoredllmanifest" Name="QtCore4.dll.manifest" Checksum="yes" Vital="yes" Source="..\..\..\..\Qt\4.2.1MS\lib\QtCore4.dll.manifest" />
		</Component>
            </Directory>
        </Directory>
    </Module>
</Wix>
