<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--
	Die Lösung ist nötig, da ein Bug in Qt verhindet, das die Plug-Ins als
	Side-by-Side-Assemblies laufen können.
-->
	<Module Id="QtSqlMySQLModul" Language="0" Version="4.2.2.0">
        	<Package Id="97081087-0cc6-462d-a4dd-cb322124c6e0" Manufacturer="Frank Buettner" InstallerVersion="300"/>
		<Dependency RequiredId="QtSQLModul" RequiredLanguage="0" RequiredVersion="4.2.2" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonFilesFolder">
				<Directory Id="Entwickler" Name="FrankBuettner">
					<Directory Id="Qt" Name="Qt">
						<Directory Id="Version" Name="4.2.2">
							<Directory Id="plugins" Name="plugins">
								<Directory Id="sqldrivers" Name="sqldrivers">
        								<Component Id="QtMySQL" Guid="b29c8bdf-3820-47e1-b293-98d7d51dc0df">
										<File Id="qtmysqldll" Vital="yes" Name="qsqlmysql.dll" Source="F:\Temp\Qt4\Mergemodule\qsqlmysql.dll" />                    
               	 								<File Id="qtmysqldllmanifest" Vital="yes" Name="qsqlmysql.dll.manifest" Source="F:\Temp\Qt4\Mergemodule\qsqlmysql.dll.manifest" />			
									</Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>			
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
