<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<Module Id='QtSqlModul' Guid='18a6202d-c625-4636-8742-0e6b3b824cdc' Language='0' Version='4.1.4'>
		<Package Id='84c9b4c3-8732-45f3-b56a-436e9caa4bed' Manufacturer='Frank Büttner' Compressed='yes' />
		<Dependency RequiredId='QtCoreModul' RequiredLanguage='0' RequiredVersion='4.1.4' />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='QtDir' Name='.'>
				<Component Id='QtSql' Guid='426b7b27-588e-4241-96f1-9eeadd1fa9f0'>
					<File Id='qtsqldll' Name='sql.dll' LongName='QtSql4.dll'
					 src='..\..\..\..\Qt\4.1.4MS\lib\QtSql4.dll' />
					<File Id='qtsqlmanifest' Name='sql.man' 
					 LongName='QtSql4.dll.manifest'
					 src='..\..\..\..\Qt\4.1.4MS\lib\QtSql4.dll.manifest'/>
				</Component>
			</Directory>
		</Directory>
	</Module>
</Wix>
