<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="QtSVGModul" Language="0" Version="4.2.2.0">
        <Package Id="0E4F24BA-8EA9-4690-89DA-BAA31236494F" Manufacturer="Frank Buettner" InstallerVersion="300"/>
        <Dependency RequiredId="QtXMLModul" RequiredLanguage="0" RequiredVersion="4.2.2.0" />
        <Dependency RequiredId="QtGUIModul" RequiredLanguage="0" RequiredVersion="4.2.2.0" />
        	<Directory Id="TARGETDIR" Name="SourceDir">
        		<Directory Id="WindowsFolder" Name="Windows">
				<Directory Id="WinSxsDirectory" Name="winsxs">
                			<Component Id="QtSVG" Guid="91A543CF-76ED-43DB-959B-09C2986C3D0C">
		    				<File Id="qtsvgdllkatalog" Name="QtSvg4.dll.cat" Checksum="yes" Vital="yes" Source="F:\Temp\Qt4\Mergemodule\QtSvg4.dll.cat" />
                    				<File Id="qtsvgdll" Name="QtSvg4.dll" Assembly="win32" Checksum="yes" Vital="yes" KeyPath="yes" AssemblyManifest="qtsvgmanifest" Source="F:\Temp\Qt4\Mergemodule\QtSvg4.dll" />
                    				<File Id="qtsvgmanifest" Name="QtSvg4.dll.manifest" Checksum="yes" Vital="yes" Source="F:\Temp\Qt4\Mergemodule\QtSvg4.dll.manifest" />
                			</Component>
            			</Directory>
        		</Directory>
		</Directory>
	</Module>
</Wix>
