<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<!--
	Die Lösung ist nötig, da ein Bug in Qt verhindet, das die Plug-Ins als
	Side-by-Side-Assemblies laufen können.
-->
	<Module Id="$MODULID" Language="0" Version="$MODULVERSIONLANG">
       	<Package Id="$MODULPAKETGUID" Manufacturer="$MODULHERSTELLER" InstallerVersion="300"/>
		$MODULABHAENGIGKEIT
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="CommonFilesFolder">
				<Directory Id="Entwickler" Name="$MODULASSEMBLYENDTWICKLER">
					<Directory Id="Qt" Name="Qt">
						<Directory Id="Version" Name="$MODULVERSIONKURZ">
							<Directory Id="plugins" Name="plugins">
								<Directory Id="$PLUINKATEGORIE" Name="$PLUINKATEGORIE">
        								<Component Id="$MODULKOMPONENTENID" Guid="$KOMPONENTENGUID">
										<File Id="$MODULDATEIID" Vital="yes" Name="$MODULDATEINAME" Source="$MODULDATEIQUELLE" />                    
               	 						<File Id="$MODULMANIFESTID" Vital="yes" Name="$MODULMANIFESTDATEINAME" Source="$MODULMANIFESTQUELLE" />			
									</Component>
								</Directory>
							</Directory>
						</Directory>
					</Directory>			
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
