<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="$MODULID" Language="0" Version="$MODULVERSION">
        	<Package Id="$MODULPAKETGUID" Manufacturer="$MODULHERSTELLER" InstallerVersion="300"/>
        	$MODULABHAENGIGKEIT
			<Directory Id="TARGETDIR" Name="SourceDir">
            		<Directory Id="WindowsFolder" Name="Windows">
				<Directory Id="WinSxsDirectory" Name="winsxs">
                			<Component Id="$MODULKOMPONENTENID" Guid="$KOMPONENTENGUID">
								<File Id="$MODULKATALOGID"  Name="$MODULKATALOGDATEINAME" Checksum="yes" Vital="yes" Source="$MODULKATALOGQUELLE" />
                   				<File Id="$MODULDATEIID"  Name="$MODULDATEINAME" Assembly="win32" Checksum="yes" Vital="yes" Source="$MODULDATEIQUELLE" KeyPath="yes" AssemblyManifest="$MODULMANIFESTID" />
                    			<File Id="$MODULMANIFESTID" Name="$MODULMANIFESTDATEINAME" Checksum="yes" Vital="yes" Source="$MODULMANIFESTQUELLE" />
                			</Component>
            			</Directory>
        		</Directory>
		</Directory>
	</Module>
</Wix>
