#include "Winver.h"
//Programmsymbol ICON DISCARDABLE  "Bilder\\Symbol.ico"
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE  0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040704e4"
		{
			VALUE	"FileVersion","0.1.0"
			VALUE	"CompanyName",""
			VALUE	"LegalCopyright","Urherberrecht 2007 Frank Büttner"
			VALUE	"ProductName","Qt4 Mergemodul Ersteller"
			VALUE	"FileDescription","Erstellt das öffentliches Side-by-Side Assembly für Qt4."									  
		    VALUE	"OriginalFilename","Qt4MergemoduleErzeugen.exe"
			VALUE	"InternalName","Qt4MergemoduleErzeugen"
			VALUE	"Comments","Ermöglicht es, Qt4 als öffentliches Side-by-Side Assembly zu Installieren."
							   " Es werden die Manifeste korrigiert und die Mergemodule erzeugt."
		}
		BLOCK "040904e4"
		{
			VALUE	"FileVersion","0.1.0"
			VALUE	"CompanyName",""
			VALUE	"LegalCopyright","Copyright (C) 2007 Frank Büttner"
			VALUE	"ProductName","Qt4 merge modul creater"
			VALUE	"FileDescription","Create the shared Side-by-Side assembly of Qt4."
			VALUE	"OriginalFilename","Qt4MergemoduleErzeugen.exe"
			VALUE	"InternalName","Qt4MergemoduleErzeugen"
			VALUE	"Comments","Make it posisble to install Qt4 as an shared Side-by-Side assembly."
							   " All manifest files will be corrected and the merge modules will be build."
		}
	}
}